body {
    background-color: #091830;
    margin: 0;
    padding: 0;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.banner-head {
    height: 400px;
    display: flex;
    align-items: center;
}

.banner-head h1 {
    background: linear-gradient(270deg, #be811a 30.26%, #bf8727 34.19%, #edca7e 56.28%, #f4d48d 61.7%, #f4d081 66.72%, #f3b62e 84.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* fallback */
    padding-right: 5px;
    padding-left: 5px;
}

select option {
    background-color: #1B1D3A;
    /* dark background */
    color: #a8a8a8;
    /* text color */
}

select option:hover {
    background-color: white !important;
}


.card-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(270deg, #ce643875, #454ebd75);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.box-before:before {
    background: linear-gradient(270deg, #ce6438, #454ebd) border-box !important;
}

.button_fill_btn_46__iI1_A {
    position: relative;
    padding: 13px 32px;
    display: flex;
    background-image: linear-gradient(217deg, #be811a 16.39%, #bf8727 21.4%, #edca7e 49.58%, #f4d48d 56.49%, #f4d081 62.9%, #f3b62e 85.39%);
    width: fit-content;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 46px;
    overflow: hidden;
    border-radius: 5px;
    transition: background-image .9s;
}

.button_fill_btn_46__iI1_A:after {
    content: "";
    border-radius: 5px;
    border: 2px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(62.72deg, #be811a, #bf8727 7.27%, #edca7e 48.1%, #f4d48d 58.12%, #f4d081 67.41%, #f3b62e);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.button_fill_btn_46__iI1_A:hover {
    background-image: linear-gradient(37deg, #be811a 16.39%, #bf8727 21.4%, #edca7e 49.58%, #f4d48d 56.49%, #f4d081 62.9%, #f3b62e 85.39%);
    transition: background-image .9s;
}

.button_fill_btn_46__iI1_A p {
    white-space: nowrap;
    color: #0c2e6d;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: .01em;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.gradiant-title {
    background: linear-gradient(270deg, #be811a 30.26%, #bf8727 34.19%, #edca7e 56.28%, #f4d48d 61.7%, #f4d081 66.72%, #f3b62e 84.35%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.font-thin {
    font-weight: 100;
}





.input-golden-container {
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background: rgba(37, 37, 37, .4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.input-golden-container:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(242.29deg, #be811a 15.000000596046448%, #f4d48d 44.999998807907104%, #f4d48d 55.000001192092896%, #f3b62e 85.00000238418579%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

input {
    height: 100%;
}

textarea {
    position: relative;
    z-index: 2;
}

.trade-block-html ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
}

.sandwich-image-block ul>li,
.trade-block-html ul>li {
    gap: .5rem;
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

.trade-block-html ul>li:before {
    content: "";
    width: 18px;
    min-width: 18px;
    height: 15px;
    background-image: url(../img/green-tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.html-content ul {
    list-style-type: disc;
    padding-left: 18px;
}

.back-to-top:before {
    background: linear-gradient(222deg, #be811a 15%, #f4d48d 45%, #f4d48d 55%, #f3b62e 85%);
}

.card-sub-gradient:before {
    background: linear-gradient(190deg, #be811a 15%, #edca7e 45%, #f4d48d 55%, #f4d081 66.72%, #f3b62e);
}

.animation-jumping {
    animation-name: jumping;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: all .5ms;
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUp {
    opacity: 0;
    /* initially hidden */
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fadeUp.in-view {
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.2s;
}


/* about us  */
.product-tabs-container {
    max-width: calc(100vw - 40px);
}

.sticky_tab_wrapper {
    display: flex;
}

.product-tabs {
    background-color: #101c30;
    border-radius: 6px;
    position: relative;
    margin: 0;
    z-index: 2;
}

.bg-act {
    background: linear-gradient(110deg, #71382c, #212559 67.78779029846191%);
}

.bg-act,
.bg-tabs {
    border-radius: 5px;
}

.product-tabs:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 7px;
    padding: 1px;
    background: linear-gradient(270deg, #212559, #8b3f1d);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.grad_border_about:after {
    border-radius: 30px;
}

.grad_border:after,
.grad_border_about:after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(270deg, #212559, #8b3f1d);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.hm_collab .filter-tab-container {
    background: rgba(37, 37, 37, .2);
    position: relative;
    border-radius: 27px;
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
}

.hm_collab .filter-tab-container,
.hm_collab .filter-tab-container>div {
    background: none;
}

.filter-tab-container {
    background: linear-gradient(270deg, #8b3f1d, #4257bb);
    padding: 2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.hm_collab .filter-tab-container:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 27px;
    padding: 2px;
    background: linear-gradient(270deg, #ce6438, #454ebd) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.hm_collab .filter-tab-container:hover {
    background: linear-gradient(323deg, rgba(33, 37, 89, .8) 30.282434%, rgba(131, 69, 41, .8));
}

.hm_collab {
    gap: 30px;
}

.why-choose-headings {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 45px !important;
    font-style: normal;
    font-weight: 900;
    line-height: 111%;
    background: linear-gradient(252deg, #be811a 24.5%, #bf8727 28.3%, #edca7e 49.64%, #f4d48d 54.88%, #f4d081 59.74%, #f3b62e 76.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: unset !important;
}

.why_choose_col .bg-why-choose {
    height: 100%;
    min-height: 357px;
}

.about_why .about-border,
.why_choose_sec .about-border {
    background: linear-gradient(-73.06deg, rgba(33, 37, 89, .24) 4.282433912158012%, rgba(139, 63, 29, .24));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.about-border {
    position: relative;
    border-radius: 27px;
    color: #fff;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.bg-why-choose:before {
    background: linear-gradient(270deg, #ce643850, #454ebd80);
}

.about-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 27px;
    padding: 2px;
    background: linear-gradient(270deg, #ce6438, #454ebd);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.about_why .about-border:hover,
.why_choose_sec .about-border:hover {
    background: linear-gradient(310deg, #212559 41.282434%, #612e18);
}


.contact-img-banner img {
    width: auto;
    height: 100%;
}

.max-w-unset img {
    max-width: unset;
}

.track1 {

    will-change: transform;
    animation: marquee-left 40s linear infinite;
}

.track2 {

    will-change: transform;
    animation: marquee-right 40s linear infinite;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0) translateZ(0);
    }

    100% {
        transform: translateX(-6935.75px) translateZ(0);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-6935.75px) translateZ(0);
    }

    100% {
        transform: translateX(0) translateZ(0);
    }
}

.sub-list-html li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
}

.sub-list-html li:before {
    content: "";
    min-width: 6px;
    min-height: 6px;
    border-radius: 100%;
    background-color: #fff;
}


.marquee-text {
    color: #FFFFFF;
    background-color: transparent !important;
    font-size: 38px;
    min-width: 650px;
    font-weight: normal;
}

.marquee-text {
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    line-height: 1.2;
    background-color: #acacac;

}



.bg-footer {
    background-color: #090c29
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.footer-head {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 111%;
    text-transform: uppercase;
    background: linear-gradient(252deg, #be811a 24.5%, #bf8727 28.3%, #edca7e 49.64%, #f4d48d 54.88%, #f4d081 59.74%, #f3b62e 76.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.footer-description {
    font-size: 14px;
    line-height: 30px;
    color: #fff
}

.footer-link-screen li {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.font-footer {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px
}

.font-footer,
.footer-description,
.footer-link-screen li {
    font-family: Roboto;
    font-weight: 300
}

.footer_qrcode {
    width: 131px;
    min-width: 131px;
    height: 157px;
    margin-left: 80px
}

.rtl .footer_qrcode {
    margin-left: 0;
    margin-right: 80px
}

.gap-7\.5 {
    gap: 30px;
}

.footer_qrcode img {
    width: auto
}

.border-top-gr {
    position: relative;
    padding: 20px 10px;
    background-color: hsla(0, 0%, 100%, 0)
}

.border-top-gr:after,
.border-top-gr:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(270deg, #ce6438, #454ebd)
}

.border-top-gr:before {
    top: 0
}

.border-top-gr:after {
    bottom: 0
}

.font-footer {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px
}

.achive_wrapper {
    max-width: 300px
}

.copy-right_border {
    border-top: 1px solid hsla(0, 0%, 100%, .3)
}

@media (max-width:1200px) and (min-width:992px) {
    .footer-link-screen li {
        font-size: 14px
    }

    .footer-description {
        color: #fff
    }
}

@media (max-width:1545px) {

    .font-footer,
    .footer-head,
    .footer-link-screen li {
        font-size: 13px;
        line-height: normal
    }

    .footer-description {
        font-size: 13px;
        line-height: 22px
    }

    .footer_qrcode {
        width: 111px;
        min-width: 111px;
        height: 137px;
        margin-left: 60px
    }

    .border-top-gr {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .achive_wrapper {
        max-width: 260px
    }
}

@media (max-width:600px) {
    .footer-screen-img {
        width: 100px;
        margin: auto
    }
}

@media (max-width:768px) {
    .footer-link-screen {
        flex-wrap: wrap;
        flex-direction: row
    }

    .footer-link-screen>li {
        width: calc(33% - 8px)
    }
}

@media (max-width:648px) {
    .footer_qrcode {
        margin-left: 0;
        margin-top: 20px
    }

    .footer-description {
        text-align: center
    }

    .border-top-gr {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width:480px) {
    .footer-link-screen>li {
        width: calc(50% - 8px)
    }
}

/* Responsive container widths */
@media (min-width: 640px) {
    .container2 {
        max-width: 640px;
    }

    .product-tabs-container {
        max-width: 630px;
    }
}

@media (min-width: 769px) {
    .container2 {
        max-width: 769px;
    }

    .product-tabs-container {
        max-width: 759px;
    }
}

@media (min-width: 1025px) {
    .container2 {
        max-width: 1025px;
    }

    .product-tabs-container {
        max-width: 1015px;
    }
}

@media (min-width: 1080px) {
    .container2 {
        max-width: 1080px;
    }

    .product-tabs-container {
        max-width: 1070px;
    }
}

/* Only apply large width if screen is larger than 1545px */
@media (min-width: 1545px) {

    .container2,
    .product-tabs-container {
        max-width: 1480px;
    }

    .trade-block-html ul {
        gap: 30px;
        font-size: 22px;
    }
}

/* Responsive banner height and styles for smaller screens */


@media (max-width: 648px) {
    .banner-head {
        height: 261px;
    }
}

@media (max-width: 768px) {
    .contact-img-banner img {
        width: 100%;
        height: auto;
    }

    .max-w-unset img {
        max-width: 100%;
    }

    .banner-head {
        justify-content: center;
    }
}


@media (max-width: 1544px) {
    .banner-head {
        height: 300px;
    }

    .button_border_btn_46__eL52N,
    .button_fill_btn_46__iI1_A {
        height: 34px;
        padding: 9px 20px;
        gap: 10px;
    }

    .button_border_btn_46__eL52N p,
    .button_fill_btn_46__iI1_A p {
        font-size: 13px;
    }

    .grad_border_about:after {
        border-radius: 15px;
    }

    .hm_collab {
        gap: 25px;
    }

    .why_choose_col .bg-why-choose {
        min-height: 271px;
    }

    .about-border,
    .about-border:before,
    .heading-about:after {
        border-radius: 18px;
    }
}